<p>Razão Social: <%= @vendor.company_name %></p>
<p>Endereço: <%= @vendor.address %></p>
<p>Telefone: <%= @vendor.phone %></p>
<p>Contato: <%= @vendor.contact_name %></p>
<p>Email: <%= @vendor.email %></p>
<%= link_to 'Voltar', root_path %>
